<a href="https://colab.research.google.com/github/Tejaskumarno1/AIML_2025/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

list1 = [1,2,3,4,]
array1 = np.array(list1)
array1
array2 = np.array([1,2,3,4])
list1,array1,array2

([1, 2, 3, 4], array([1, 2, 3, 4]), array([1, 2, 3, 4]))

In [2]:
type(list1),type(array1),type(array2)

(list, numpy.ndarray, numpy.ndarray)

In [3]:
print("Adding 2 arrays: array1 + array2")
print("sub 2 arrays: array1 - array2")
print("Multiply 2 arrays: array1 * array2")
print("div 2 arrays: array1 / array2")
print("Exponentiating 2 arrays: array1 ** array2")
print("Multiply  array to list1: array2 * list1")

Adding 2 arrays: array1 + array2
sub 2 arrays: array1 - array2
Multiply 2 arrays: array1 * array2
div 2 arrays: array1 / array2
Exponentiating 2 arrays: array1 ** array2
Multiply  array to list1: array2 * list1

In [4]:
print(f"Adding{array1 + array2}")
print(f"sub{array1 - array2}")
print(f"Multiply{array1 * array2}")
print(f"div{array1 / array2}")
print(f"Exponentiating{array1 ** array2}")
print(f"Multiply  array to list1{array2 * list1}")

Adding[2 4 6 8]
sub[0 0 0 0]
Multiply[ 1  4  9 16]
div[1. 1. 1. 1.]
Exponentiating[  1   4  27 256]
Multiply  array to list1[ 1  4  9 16]

In [5]:
print(f"Sine value of array1:{ np.sin(array1)}")
print(f"log value of array1:{ np.log(array1)}")
print(f"log base2 value of array1:{ np.log2(array1)}")
print(f"log base10 value of array1:{ np.log10(array1)}")

Sine value of array1:[ 0.84147098  0.90929743  0.14112001 -0.7568025 ]
log value of array1:[0.         0.69314718 1.09861229 1.38629436]
log base2 value of array1:[0.        1.        1.5849625 2.       ]
log base10 value of array1:[0.         0.30103    0.47712125 0.60205999]